<html>
  <head>
    <title>Welcome to Photoshare</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href="/Slides/css/example.css" rel="stylesheet" >
    <link href="/css/styles.css" rel="stylesheet" >
  </head>
  <body>
 	  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
 	  <!-- Nav bar start -->
    <nav class="navbar navbar-inverse" role="navigation">
      <a href="/" class="navbar-brand">Hack App</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"> <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
          <li ><a data-toggle="modal" href="#friends">Friends</a></li>
          <li><a href="/">Images</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <!-- Nav bar end -->
 	  <div class="container">
      <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>This photo-sharing app ties in with Facebook to share and communicate with friends.</p>
      <% if (locals.user) { %>
        <p>You are logged in. Hi, <strong><%= user.first_name %></strong>.</p>
        <p><a class="btn btn-primary btn-lg" href="/user/<%= user._id %>">Profile</a></p>
      <% } else { %>
        <p>You are not logged in. <a class="btn btn-primary btn-lg" href="/auth/facebook">Log in</a></p>
      <% } %>
    </div>
 	</div>
 </body>
</html>
